<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rockapps.mfuentes.workingcalendar" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono_chico"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:icon="@drawable/icon"
            android:theme="@android:style/Theme.Holo.Light"
            >
        </activity>
        <activity
            android:name=".Activity.StartupWizardActivity"
            android:label="@string/title_activity_startup_wizard"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
